.skills{
    padding: 2rem 7%;
    background: var(--second-bg-color);
}

.mainSkill{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skillBar{
    margin-bottom: 2.3rem;
}

.mainSkill h3{
    margin-bottom: 2rem;
    font-size: var(--normal-font);
    align-items: center;
}

.leftSkill .skillBar .skillInfo{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.leftSkill .skillBar .bar{
    width: 100%;
    height: 10px;
    background: var(--bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.leftSkill .skillBar .bar span{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);
}

.leftSkill .skillBar .bar .html{
    width: 80%;
    animation: html 2s;
}
.leftSkill .skillBar .bar .css{
    width: 75%;
    animation: css 3s;
}
.leftSkill .skillBar .bar .javascript{
    width: 80%;
    animation: javascript 4s;
}
.leftSkill .skillBar .bar .react{
    width: 82%;
    animation: react 2s;
}
.leftSkill .skillBar .bar .node{
    width: 73%;
    animation: node 4s;
}
.leftSkill .skillBar .bar  .express{
    width: 73%;
    animation: express 2s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 82%;
    }
}
@keyframes node{
    0%{
        width: 0%;
    }
    100%{
        width: 73%;
    }
}
@keyframes express{
    0%{
        width: 0%;
    }
    100%{
        width: 73%;
    }
}


/* **************** Professional Skills */
.professional{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box{
    margin: 10px 0;
    flex: 1 1 15rem;
    position: relative;
}

.box .text{
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}

.box .text big{
    /* font: 400; */
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box .text small{
    display: block;
    font-weight: 600;
    margin-top: 0.5rem;
}

.circle{
    width: 100%;
    height: 120px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 720px){
    .skills .mainText{
        margin-bottom: 2rem;
    }
    .mainSkill{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .mainSkill h3{
        margin-bottom: 1rem;
        font-size: 1.7rem;
    }
    .leftSkill .skillBar .bar{
        height: 6px;
    }
    .leftSkill .skillBar .skillInfo{
        font-size: 0.9rem;
    }    
}